﻿@model Inspectra.Domain.Entities.Camera

<div class="item">
    @if (Model.ImageData != null)
    {
        <div style="float: left; margin-right: 20px">
            <img width="75" height="75" src="@Url.Action("GetImage", "Camera", new { Model.CameraID })" />
        </div>
    }
    <h3>@Model.Name</h3>
    @Model.Description
    <h4>@Model.Address.ToString()</h4>
</div>