﻿@model IEnumerable<Inspectra.Domain.Entities.Camera>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>All Cameras</h1>
<table class="Grid">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CameraID</td>
            <td>@Html.ActionLink(item.Name, "Edit", new { item.CameraID })</td>
            <td>@item.Address.ToString()</td>
            <td>
                @using (Html.BeginForm("Delete", "Admin"))
                {
                    @Html.Hidden("CameraID", item.CameraID)
                    <input type="submit" value="Delete" />
                }
            </td>
        </tr>
    }
</table>
<p>@Html.ActionLink("Add a new camera", "Create")</p>
